body {
    background-color: #f0f9ff;
    max-width: 600px;
    margin: auto;
    font-family: verdana, sans-serif;
    font-size: 18px;
}

h1{
    text-align: center;
}

h1, h2 {
    color: #0c4a6e;
}

a {
    text-decoration: none;
    color: #0ea5e9;
    font-size: 20px;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: devanagari;
}

